### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#Look at first five rows of school data complete
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the Total Number of Schools
total_schools = len(school_data_complete["school_name"].unique())

In [3]:
#Calculate the Total Number of Students
number_of_students = len(school_data_complete["student_name"])

In [4]:
#Calculate the Total Budget
total_budget = sum(school_data_complete["budget"].unique())

In [5]:
#Calculate the Average Math Score
avg_math_score = school_data_complete['math_score'].mean()

In [6]:
#Calculate the Average Reading Score
avg_reading_score = school_data_complete['reading_score'].mean()

In [7]:
#Calculate the percentage of students with a passing math score (70 or greater)
good_math_students = school_data_complete.loc[school_data_complete["math_score"] >= 70]
per_pass_math = (len(good_math_students) / number_of_students) * 100

In [8]:
#Calculate the percentage of students with a passing reading score (70 or greater)
good_read_students = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
per_pass_read = (len(good_read_students) / number_of_students) * 100

In [9]:
#Calculate the percentage of students who passed both math and reading
good_students = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
per_pass_math_read = (len(good_students) / number_of_students) * 100

In [10]:
#Enter Summary Statistics in a DataFrame
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [number_of_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [per_pass_math],
    "% Passing Reading": [per_pass_read],
    "% Overall Passing": [per_pass_math_read]
    
})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [39]:
#GroupBy Function by School Name to get aggregate data
#school_data_complete
df_school_summary = school_data_complete.groupby(["school_name", "type", "size", "budget"]).mean()
df_school_summary

,,,,Student ID,reading_score,math_score,School ID
school_name,type,size,budget,,,,
Bailey High School,District,4976,3124928,20358.5,81.033963,77.048432,7.0
Cabrera High School,Charter,1858,1081356,16941.5,83.975780,83.061895,6.0
Figueroa High School,District,2949,1884411,4391.0,81.158020,76.711767,1.0
Ford High School,District,2739,1763916,36165.0,80.746258,77.102592,13.0
Griffin High School,Charter,1468,917500,12995.5,83.816757,83.351499,4.0
Hernandez High School,District,4635,3022020,9944.0,80.934412,77.289752,3.0
Holden High School,Charter,427,248087,23060.0,83.814988,83.803279,8.0
Huang High School,District,2917,1910635,1458.0,81.182722,76.629414,0.0
Johnson High School,District,4761,3094650,32415.0,80.966394,77.072464,12.0
Pena High School,Charter,962,585858,23754.5,84.044699,83.839917,9.0
Rodriguez High School,District,3999,2547363,28035.0,80.744686,76.842711,11.0
Shelton High School,Charter,1761,1056600,6746.0,83.725724,83.359455,2.0
Thomas High School,Charter,1635,1043130,38352.0,83.848930,83.418349,14.0
Wilson High School,Charter,2283,1319574,14871.0,83.989488,83.274201,5.0
Wright High School,Charter,1800,1049400,25135.5,83.955000,83.682222,10.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type